{% extends "@c975LSite/emails/layout.html.twig" %}
{% trans_default_domain 'contactForm' %}

{% block email_content %}
    {# Explanation #}
    {% if site is defined %}
        <p>
            {{ 'text.mail_following_sent'|trans }} <strong>{{ site }}</strong>
        </p>
    {% endif %}
    {# Datetime #}
    <p>
        <strong>{{ 'label.date_time'|trans }}</strong>
        <br />
        <blockquote>
            {{ 'now'|format_datetime('medium', 'medium') }}
        </blockquote>
    </p>
    {# Sender name #}
    <p>
        <strong>{{ 'label.sender_name'|trans }}</strong>
        <br />
        <blockquote>
            {{ form.name }}
        </blockquote>
    </p>
    {# Sender email #}
    <p>
        <strong>{{ 'label.sender_email'|trans }}</strong>
        <br />
        <blockquote>
            <a href="mailto:{{ form.email }}">{{ form.email }}</a>
        </blockquote>
    </p>
    {# Subject #}
    <p>
        <strong>{{ 'label.subject'|trans }}</strong>
        <br />
        <blockquote>
            {{ form.subject }}
        </blockquote>
    </p>
    {# Message #}
    <p>
        <strong>{{ 'label.message_sent'|trans }}</strong>
        <br />
        <blockquote>
            {{ form.message|nl2br|raw }}
        </blockquote>
    </p>
{% endblock %}