{% extends "@c975LSite/emails/layout.html.twig" %}
{% trans_default_domain 'contactForm' %}

{% block email_content %}
    {# Explanation #}
    {% if site is defined %}
        <p>
            {{ 'text.mail_following_sent'|trans }} <strong>{{ site }}</strong>
        </p>
    {% endif %}
    <table class="border">
        <tbody>
            {# Datetime #}
            <tr>
                <td class="text-left">{{ 'label.date_time'|trans }}</td>
                <td class="text-left">{{ 'now'|format_datetime('medium', 'medium') }}</td>
            </tr>
            {# Sender name #}
            <tr>
                <td class="text-left">{{ 'label.sender_name'|trans }}</td>
                <td class="text-left">{{ form.name }}</td>
            </tr>
            {# Sender email #}
            <tr>
                <td class="text-left">{{ 'label.sender_email'|trans }}</td>
                <td class="text-left"><a href="mailto:{{ form.email }}">{{ form.email }}</a></td>
            </tr>
            {# Subject #}
            <tr>
                <td class="text-left">{{ 'label.subject'|trans }}</td>
                <td class="text-left">{{ form.subject }}</td>
            </tr>
            {# Message #}
            <tr>
                <td class="text-left">{{ 'label.message_sent'|trans }}</td>
                <td class="text-left">{{ form.message|nl2br|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}