{% extends "@c975LContactForm/layout.html.twig" %}
{% trans_default_domain 'contactForm' %}

{% set infoText = 'text.contact_info'|trans({'%site%': site}) %}

{% block contactform_content %}
    <style>.username {position:absolute;top:-1000px;left:-1000px;}</style>
    <div>
{# Toolbar #}
        {% if is_granted('ROLE_ADMIN') %}
            {{ toolbar_display('@c975LContactForm/tools.html.twig', 'display', 'md') }}
        {% endif %}
        <p class="text-center">
            {{ infoText|raw }}
        </p>
{# Form #}
        {{ form_start(form) }}
            {{ form_widget(form) }}
{# Submit#}
            <div class="form-group">
                <button type="submit" name="submit" title="{{ 'label.send'|trans }}" class="btn btn-lg btn-primary btn-block">
                    {{ 'label.send'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
{# Mandatory field #}
        <p class="text-muted">
            <em>
                {{ 'label.mandatory_field'|trans({}, 'services') }}
            </em>
        </p>
    </div>
{% endblock %}
