{% extends "@c975LContactForm/layout.html.twig" %}
{% trans_default_domain 'contactForm' %}

{% set infoText = 'text.contact_info'|trans({'%site%': site}) %}

{% block contactform_content %}
    <div>
        <p class="text-center">
            {{ infoText|raw }}
        </p>
{# Form #}
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
{# Mandatory field #}
        <p class="text-muted">
            <em>
                {{ 'label.mandatory_field'|trans }}
            </em>
        </p>
    </div>
{% endblock %}